
/*.validate-error {
    color: red;
    display: none;
}

.help-block {
    display: none;
}

.has-error .help-block {
    display: inline-block;
}

.modal-body .nav .nav-pills-custom {
    box-shadow: none !important;
}

.nav-pills-custom .nav-link.active, .nav-pills-custom .show > .nav-link {
    color: #fff;
    background-color: orangered;
}*/
.dataTables_scrollBody{
    max-height: 350px !important;
}