USE [RPOSLoyalty]
GO
/****** Object:  Table [dbo].[LoggingLoyalty]    Script Date: 7/8/2026 4:45:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoggingLoyalty](
	[AppCode] [varchar](10) NOT NULL,
	[OrderNo] [varchar](30) NOT NULL,
	[TransactionType] [int] NOT NULL,
	[OrigOrderNo] [varchar](30) NOT NULL,
	[MemberCardNo] [varchar](50) NOT NULL,
	[CustName] [nvarchar](500) NULL,
	[ActionType] [varchar](50) NOT NULL,
	[LoyaltyPoints] [bigint] NOT NULL,
	[Transaction] [nvarchar](50) NOT NULL,
	[Status] [varchar](10) NOT NULL,
	[Request] [nvarchar](max) NOT NULL,
	[Response] [nvarchar](max) NOT NULL,
	[Items] [nvarchar](max) NULL,
	[CrtDate] [datetime] NOT NULL,
 CONSTRAINT [PK_LoggingLoyalty_1] PRIMARY KEY CLUSTERED 
(
	[AppCode] ASC,
	[OrderNo] ASC,
	[TransactionType] ASC,
	[ActionType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
