USE [RPOSMasterDataSetup]
GO
/****** Object:  UserDefinedFunction [dbo].[CalDiscountAmount]    Script Date: 7/3/2026 4:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CalDiscountAmount] 
(
	@UnitPrice decimal(18,3),
	@DiscountType int,
	@DiscountValue decimal(18,0)
)
RETURNS decimal(18,3)
AS
BEGIN
	declare @Amount decimal(18,3)
	if @DiscountType = 0
		set @Amount = round(@UnitPrice * @DiscountValue / 100,0)

	if @DiscountType = 1
		set @Amount = @DiscountValue

	if @DiscountType = 2
		set @Amount = @UnitPrice - @DiscountValue

	return @Amount
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetSalesPrice]    Script Date: 7/3/2026 4:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetSalesPrice] 
(
	@ItemNo nvarchar(20),
	@StoreNo nvarchar(20),
	@Date nvarchar(10),
	@Uom varchar(20)
)
RETURNS float
AS

BEGIN
	declare @Num float=0

	set @Num =
		(
		select top 1 ROUND([UnitPrice],0) 
		from [SalesPrice] P  (Nolock)  
		LEFT JOIN [StorePriceGroup] S (Nolock) on S.[PriceGroupCode] = P.[SalesCode] 
		where P.[ItemNo] = @ItemNo 
		and S.Store = @StoreNo
		and P.[UnitOfMeasureCode] = @Uom  
		and [StartingDate] <= @Date
		and ([EndingDate] >= @Date OR [EndingDate] = '1753-01-01' OR EndingDate = '9999-12-31') 
		and year([EndingDate]) <> 7777 -- danh dau la xoa
		order by ISNULL(S.[Priority],0) asc, P.StartingDate desc
		)
	return ISNULL(@Num,0)

END







GO
/****** Object:  UserDefinedFunction [dbo].[non_unicode_convert]    Script Date: 7/3/2026 4:44:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[non_unicode_convert](@inputVar NVARCHAR(MAX) )
RETURNS NVARCHAR(MAX)
AS
BEGIN    
    IF (@inputVar IS NULL OR @inputVar = '')  RETURN ''
   
    DECLARE @RT NVARCHAR(MAX)
    DECLARE @SIGN_CHARS NCHAR(256)
    DECLARE @UNSIGN_CHARS NCHAR (256)
 
    SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệếìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵýĂÂĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ' + NCHAR(272) + NCHAR(208)
    SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeeeiiiiiooooooooooooooouuuuuuuuuuyyyyyAADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIIIOOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD'
 
    DECLARE @COUNTER int
    DECLARE @COUNTER1 int
   
    SET @COUNTER = 1
    WHILE (@COUNTER <= LEN(@inputVar))
    BEGIN  
        SET @COUNTER1 = 1
        WHILE (@COUNTER1 <= LEN(@SIGN_CHARS) + 1)
        BEGIN
            IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) = UNICODE(SUBSTRING(@inputVar,@COUNTER ,1))
            BEGIN          
                IF @COUNTER = 1
                    SET @inputVar = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@inputVar, @COUNTER+1,LEN(@inputVar)-1)      
                ELSE
                    SET @inputVar = SUBSTRING(@inputVar, 1, @COUNTER-1) +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@inputVar, @COUNTER+1,LEN(@inputVar)- @COUNTER)
                BREAK
            END
            SET @COUNTER1 = @COUNTER1 +1
        END
        SET @COUNTER = @COUNTER +1
    END
    -- SET @inputVar = replace(@inputVar,' ','-')
    RETURN @inputVar
END
GO
