
.loader{
    text-align:center;
    pointer-events:none;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-1.92em;
    margin-top:-1.92em;
    /*z-index:1*/
    z-index:99999999
}
.loader .spinner{
    display:inline-block;
    width:3.84em;
    height:3.84em
}
.loader .spinner .outer{
    height:3.84em;
    width:3.84em;
    border:0.384em solid white;
    border-top-color:transparent;
    border-bottom-color:transparent;
    border-radius:1.92em;
    animation:outer-loader-spin 1000ms linear infinite normal
}
    .loader .spinner .inner {
        position: relative;
        top: -2.995em;
        left: 0.845em;
        height: 2.15em;
        width: 2.15em;
        border: 0.384em solid white;
        /*border-top-color:transparent;
    border-right-color:transparent;*/
        border-left-color: transparent;
        border-right-color: transparent;
        border-radius: 1.075em;
        animation: inner-loader-spin 1200ms linear infinite normal
    }
.ui-ios-overlay-shadow {
    background-color: rgba(255, 255, 255, 0.70);
}
.ui-ios-overlay-shadow {
    z-index: 1060;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(0, 0, 0, 0.8);*/
    opacity: 0.6;
}
.loader.charcoal .outer {
    border-left-color: #25965c;
    border-right-color: #00a651;

    /*border-left-color: #00a651; 
    border-right-color: #00a651;*/
}
.loader.charcoal .inner {
    /*border-left-color: #ff6a00;
    border-bottom-color: #ff6a00;*/
    border-top-color: #ff6a00;
    border-bottom-color: #ff6a00;
}
/*.loader.white .outer {
    border-left-color: #fff;
    border-right-color: #fff;
}
.loader.white .inner {
    border-left-color: #fff;
    border-bottom-color: #fff;
}*/
@keyframes inner-loader-spin{
    0%{
        opacity:1;
        transform:rotate(0)
    }
    50%{
        opacity:0.4;
        transform:rotate(-180deg)
    }
    100%{
        opacity:1;
        transform:rotate(-360deg)
    }
}
@keyframes outer-loader-spin{
    0%{
        opacity:0.4;
        transform:rotate(0)
    }
    50%{
        opacity:1;
        transform:rotate(180deg)
    }
    100%{
        opacity:0.4;
        transform:rotate(360deg)
    }
}
