USE [RPOSMasterData]
GO
/****** Object:  StoredProcedure [dbo].[Setup_Promotion_Insert]    Script Date: 7/15/2026 9:03:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROC [dbo].[Setup_Promotion_Insert]
(
@BBY varchar(20)
)
AS
/*
 Setup_Promotion_Insert '6000000004'
*/
BEGIN

	----------------------------------------------------------------------------------------
	DECLARE @ProcessID varchar(100)= ''

	set @ProcessID = lower(newid())
	BEGIN TRY
	BEGIN TRANSACTION
	
	--Check neu laf CTKM phat hanh voucher coupon thi check
	
	------------------------------------------------------------------------------------------
	--OfferHeader STATUS:0 -- Active, 

	DECLARE @CounterHeader bigint = 0
	SELECT @CounterHeader = MAX([Counter]) FROM OfferHeader (Nolock)
	SET @CounterHeader= ISNULL(@CounterHeader,0)

	DECLARE @CounterBUY bigint = 0
	SELECT @CounterBUY = MAX([Counter]) FROM [OfferBuy] (Nolock)
	SET @CounterBUY= ISNULL(@CounterBUY,0)

	DECLARE @CounterGET bigint = 0
	SELECT @CounterGET = MAX([Counter]) FROM [OfferGet] (Nolock)
	SET @CounterGET= ISNULL(@CounterGET,0)


	DECLARE @CounterBenefits bigint = 0
	SELECT @CounterBenefits = MAX([Counter]) FROM [OfferBenefits] (Nolock)
	SET @CounterBenefits= ISNULL(@CounterBenefits,0)


	DECLARE @CounterSite bigint = 0
	SELECT @CounterSite = MAX([Counter]) FROM [OfferSite] (Nolock)
	SET @CounterSite= ISNULL(@CounterSite,0)


	------------------------------------------------------------------------------------------


	DELETE H
	FROM  OfferHeader H 
	WHERE H.[No] = @BBY

	INSERT INTO OfferHeader
	(
	[No],[Type],[Description],[Status],[OfferType],[PriceGroup],[RoundingMethod],[CurrencyCode],[LastDateModified],[ValidationPeriodID],
	[BlockPeriodicDiscount],[DealPrice],[ShowDealLines],[SalesTypeFilter],[SelectionType],[CustomerDiscGroup],[MemberValue],[DiscountTrackingNo],[CouponCode],[CouponQtyNeeded],
	[MemberType],[MemberAttribute],[MemberAttributeValue],[BlockSalesCommission],[BlockManualPriceChange],[BlockInfoCodeDiscount],[BlockLineDiscountOffer],[BlockTotalDiscountOffer],[BlockTenderTypeDiscount],[BlockMemberPoints],
	[ConditionBuy],[MemberOnly],[ConditionGet],[NoSeries],[ValidationDescription],[StartingDate],[EndingDate],[FromTime],[ToTime],
	[Mon],[Tue],[Wed],[Thu],[Fri],[Sat],[Sun], [DayOfWeek], [NumOfDays],
	[TenderTypeCode],[TenderTypeValue],[TenderTypeOfferPercent],[TenderTypeOfferAmount],[BankCode],[LocalSiteGroup],[LimitQty],
	VoucherFromDate,VoucherToDate,VoucherValidDay,
	PromotionNo,PriorityBBY,VoucherLimitNumber,[Counter],PKEY,
	MinValue,TotalDiscountType,TotalDiscountValue,IsVoucher,IsTotalBill,IsGift,MemberCode,SalesType
	
	)
	
	SELECT DISTINCT
		H.BBYNR [No],1 [Type],ISNULL(H.BBYTEXT,'NULL') Description, CAST(H.[STATUS] AS int) Status, H.BBYTYPE OfferType,'' [PriceGroup],'' [RoundingMethod],'VND' CurrencyCode, getdate() LastDateModified,'' ValidationPeriodID,
		0 BlockPeriodicDiscount,ISNULL(DiscountAmountMax,0)  [DealPrice],ISNULL(IsFULLPRICE,0)  ShowDealLines,ISNULL(SalesType,'') AS SalesTypeFilter,0 SelectionType,'' AS [CustomerDiscGroup],'' MemberValue,'' [DiscountTrackingNo] ,'' CouponCode,0 CouponQtyNeeded,
		0 MemberType,MemberCode MemberAttribute,'' MemberAttributeValue,0 BlockSalesCommission,0 BlockManualPriceChange,0 BlockInfoCodeDiscount,0 BlockLineDiscountOffer,0 BlockTotalDiscountOffer,0 BlockTenderTypeDiscount,0 BlockMemberPoints,
		IIF(H.BUYLINKCAT = 'A', 2, 1) ConditionBuy,iif(H.VINID='X', 1, 0) MemberOnly, IIF(H.GETLINKCAT = 'A', 2, 1) ConditionGet,H.PROMOTION NoSeries,'' ValidationDescription,H.VALIDFROM StartingDate,H.VALIDTO EndingDate,isnull(H.TIMEFROM,'') FromTime,isnull(H.TIMETO,'') ToTime,
		iif(H.MON <> '',1,0) Mon,iif(H.TUE <> '',1,0) Tue,iif(H.WED <> '',1,0) WED,iif(H.THUR <> '',1,0) THUR,iif(H.FRI <> '',1,0) FRI,iif(H.SAT <> '',1,0) SAT,iif(H.SUN <> '',1,0) SUN, 
		iif(H.MON <> '',1,0) + iif(H.TUE <> '',1,0) + iif(H.WED <> '',1,0) + iif(H.THUR <> '',1,0) + iif(H.FRI <> '',1,0) + iif(H.SAT <> '',1,0) + iif(H.SUN <> '',1,0) AS [DayOfWeek],
		iif(H.NUMOFDAYS <> '',Convert(int,H.NUMOFDAYS),0) [NumOfDays],
		ISNULL(H.CARDTYPE,'') TenderTypeCode ,0 TenderTypeValue ,0 TenderTypeOfferPercent,0 TenderTypeOfferAmount ,ISNULL(H.BANKCODE,'') BANKCODE, ISNULL(H.SITEGROUPCODE,'') AS [LocalSiteGroup], IIF(H.LIMIT = '' OR H.LIMIT is null,9999, H.LIMIT) AS LimitQty
		,IIF(ISNULL(LTRIM(H.ZVCDATE_ST),'') ='' OR ISNULL(LTRIM(H.ZVCDATE_ST),'') ='0' OR LEN(H.ZVCDATE_ST) <> 8,'19000101',H.ZVCDATE_ST) VoucherFromDate, IIF(LTRIM(ISNULL(H.ZVCDATE_EN,'')) ='' OR LTRIM(ISNULL(H.ZVCDATE_EN,'')) ='0' OR LEN(H.ZVCDATE_EN) <> 8,'99991231',H.ZVCDATE_EN)  VoucherToDate,convert(int, LTRIM(ISNULL(H.ZVCDATE_VA,'0'))) AS VoucherValidDay,
		H.PROMOTION,convert(int, IIF(ISNULL(H.ZPRIOR,'') ='','1',H.ZPRIOR)) AS PriorityBBY,convert(int, IIF(ISNULL(H.LIMITNR,'') ='','0',H.LIMITNR)) VoucherLimitNumber
		,@CounterHeader + 1   AS [Counter],H.BBYNR PKEY,
		convert(float,ISNULL(H.MINVALUE,'0')) MinValue,IIF(TotalDiscountType = '%', 0, IIF(TotalDiscountType = 'P', 2, 1)) TotalDiscountType, convert(float,ISNULL(TotalDiscountValue,'0')) TotalDiscountValue,IsVoucher,ISNULL(H.TOTALMINVALUE,0) AS IsTotalBill,0 AS IsGift,MemberCode,H.SalesType
	FROM SetupPromotionHEADER H
	WHERE H.BBYNR = @BBY
	------------------------------------------------------------------------------------------
	
	---Neu chuong KM voucher setup k dung se disable di
	UPDATE H
	SET [Status] = 2, -- het hieu luc
		Remark = 'Invalid VoucherFromDate OR VoucherToDate OR VoucherValidDay'
	FROM  OfferHeader H (Nolock)
	WHERE OfferType IN ('ZB13','ZB14','ZB15','ZB16')
	AND 
	(
	(VoucherFromDate='1900-01-01' AND VoucherToDate='9999-12-31' AND VoucherValidDay = 0) OR
	(VoucherToDate='9999-12-31' AND VoucherValidDay = 0) OR
	(VoucherFromDate='1900-01-01' AND VoucherValidDay = 0 )
	)
	AND [Status] = 0
	AND H.No = @BBY
	AND ISNULL(H.IsVoucher,0) = 1
	
	
	------------------------------------------------------------------------------------------
	-- [OfferBuy]

	DELETE H
	FROM  OfferBuy H 
	WHERE H.[OfferNo] = @BBY

	INSERT INTO [OfferBuy] 
	(
	[OfferNo] ,[LineNo],[LineType] ,[No] ,[Description] ,[UnitOfMeasure] ,[DiscountType] ,[DiscountValue]
	,[Quantity] ,[Step] ,[BonusBuyNo] ,[LineGroup]  ,[ScaleType] ,[Counter],PKEY
	)

	SELECT B.BBYNR [OfferNo] ,ROW_NUMBER() OVER(ORDER BY BBYNR) [LineNo],LTYPE [LineType] ,MATERIALCODE [No] ,DESCRIPT [Description] ,MEINH [UnitOfMeasure] ,  [DiscountType] , [DiscountValue]
		,QTY [Quantity] ,[Step] ,'' [BonusBuyNo] ,LEFT(IIF (BUYLINKCAT= 'O' , 'B1', [LineGroup] ),10) AS [LineGroup]  ,[ScaleType] 
		,1 + @CounterBUY AS [Counter],B.BBYNR PKEY
	FROM
	(
		SELECT DISTINCT B.BBYNR, 1 LTYPE,RIGHT(B.MAT_NR, 8) MATERIALCODE, '' DESCRIPT,B.MEINH,
		DiscountType ,   [DiscountValue], ScaleType SCALETYPE, convert(float,B.MAT_QUAN) AS QTY,convert(float,B.MAT_QUAN) STEP,'' BBN, 
		CASE WHEN B.MATGROUP = '' THEN 'O'+LTRIM(ROW_NUMBER() OVER(ORDER BY H.BBYNR)) -- Trong group luon la OR
		ELSE B.MATGROUP END AS LineGroup
		,H.BUYLINKCAT
		FROM SetupPromotionBUY B 
		INNER JOIN SetupPromotionHeader H ON B.BBYNR = H.BBYNR 
		WHERE  BUYTYPE='MGP'
		AND H.BBYTYPE NOT IN ('ZB06','ZB13') -- ZB06,ZB13: Khong setup o BUY
		AND B.BBYNR = @BBY

		UNION ALL

		SELECT BBYNR,LTYPE,MATERIALCODE,DESCRIPT,MEINH,DiscountType,[DiscountValue],SCALETYPE,QTY,STEP,BBN,
		CASE WHEN BUYLINKCAT= 'O' THEN 'B1'
			 ELSE 'B' + LTRIM( ROW_NUMBER() OVER (PARTITION BY BBYNR ORDER By BBYNR))
		END AS LineGroup
		,BUYLINKCAT
		FROM
		(
			SELECT DISTINCT B.BBYNR,IIF(B.BUYTYPE = 'MAT',0, 1) LTYPE,RIGHT(B.MAT_NR, 8) MATERIALCODE, '' DESCRIPT,B.MEINH,
			ISNULL(DiscountType,0) DiscountType ,   ISNULL([DiscountValue],0) [DiscountValue], ScaleType SCALETYPE, convert(float,B.MAT_QUAN) AS QTY,convert(float,B.MAT_QUAN) STEP,'' BBN,  MATGROUP,H.BUYLINKCAT
			FROM SetupPromotionBUY B 
			INNER JOIN SetupPromotionHeader H ON B.BBYNR = H.BBYNR 
			WHERE MAT_NR <> ''
			AND BUYTYPE='MAT'
			AND H.BBYTYPE NOT IN ('ZB06','ZB13') -- ZB06,ZB13: Khong setup o BUY
			AND B.BBYNR = @BBY
		) M
	) B

	------------------------------------------------------------------------------------------

	----- Cac CTKM Total Bill (ZB06,ZB12,ZB13,ZB14,,ZB15,ZB16,ZB17), sang pham KM duoc setup ở GET --> Sẽ Chuyển xuông Table OfferBenefits

	DELETE H
	FROM  [OfferGet] H 
	WHERE H.[OfferNo] = @BBY

	INSERT INTO [OfferGet] ([OfferNo],[LineNo],[LineType],[No],[Description],[UnitofMeasure],[DiscountType],[DiscountValue],[Quantity],[Step],[BonusBuyNo], [LineGroup], SCALETYPE,[Counter],PKEY)

	SELECT B.BBYNR [OfferNo] ,ROW_NUMBER() OVER(ORDER BY BBYNR) [LineNo],LTYPE [LineType] ,MATERIALCODE [No] ,DESCRIPT [Description] ,MEINH [UnitOfMeasure] , DISTYPE [DiscountType] ,DISVAL [DiscountValue]
		,QTY [Quantity] ,[Step] ,'' [BonusBuyNo] 
		 ,LEFT(IIF (GETLINKCAT= 'O' , 'G1', [LineGroup] ),10) AS [LineGroup]
		,[ScaleType] 
		,1 + @CounterGET AS  [Counter],B.BBYNR PKEY
	FROM
	(
		SELECT DISTINCT B.BBYNR,IIF(B.GETTYPE = 'MAT',0, 1) LTYPE,ISNULL(B.MATERIALCODE,'') MATERIALCODE, '' DESCRIPT,B.MEINH,
		IIF(B.DISTYPE = '%', 0, IIF(B.DISTYPE = 'P', 2, 1)) DISTYPE, IIF(B.DISTYPE = '%', B.BBYPER, B.BBYVAL) DISVAL,B.SCALETYPE, convert(float,B.QTY) AS QTY,convert(float,B.QTY) STEP,'' BBN, ISNULL(B.MATGROUP,'') AS LineGroup
		,H.GETLINKCAT
		FROM SetupPromotionGET B (nolock)
		INNER JOIN SetupPromotionHeader H ON B.BBYNR = H.BBYNR 
		WHERE MATERIALCODE <> ''
		AND GETTYPE='MGP'
		AND ISNULL(H.TOTALMINVALUE,0) = 0 -- Khong phai total bill
		AND H.BBYNR = @BBY

		UNION ALL

		SELECT BBYNR,LTYPE,MATERIALCODE,DESCRIPT,MEINH,DISTYPE,DISVAL,SCALETYPE,QTY,STEP,BBN,
		CASE WHEN GETLINKCAT= 'O' THEN 'G1'
			 ELSE 'G' + LTRIM( ROW_NUMBER() OVER (PARTITION BY BBYNR ORDER By BBYNR))
		END AS LineGroup
		,GETLINKCAT
		FROM
		(
			SELECT DISTINCT B.BBYNR,IIF(B.GETTYPE = 'MAT',0, 1) LTYPE,ISNULL(B.MATERIALCODE,'') MATERIALCODE, '' DESCRIPT,B.MEINH,
			IIF(B.DISTYPE = '%', 0, IIF(B.DISTYPE = 'P', 2, 1)) DISTYPE, IIF(B.DISTYPE = '%', B.BBYPER, B.BBYVAL) DISVAL,B.SCALETYPE, convert(float,B.QTY) AS QTY,convert(float,B.QTY) STEP,'' BBN, H.GETLINKCAT
			FROM SetupPromotionGET B 
			INNER JOIN SetupPromotionHeader H ON B.BBYNR = H.BBYNR 
			WHERE MATERIALCODE <> ''
			AND GETTYPE='MAT'
			AND ISNULL(H.TOTALMINVALUE,0) = 0 -- Khong phai total bill
			AND H.BBYNR = @BBY
		) M
	) B


	------------------------------------------------------------------------------------------

	----- Cac CTKM Total Bill (ZB06,ZB12,ZB13,ZB14,,ZB15,ZB16,ZB17), sang pham KM duoc setup ở GET --> Sẽ Chuyển xuông Table OfferBenefits

	DELETE H
	FROM  [OfferBenefits] H 
	WHERE H.[OfferNo] = @BBY

	INSERT INTO [OfferBenefits] ([OfferNo],[LineNo],[Type],[No],[VariantCode],[Description],[ValueType],[Value],[StepAmount],[LineGroup],[Quantity],[UnitOfMeasure],[Counter],PKEY)
	SELECT 
			BBYNR [OfferNo],
			[LineNo],
			DTYPE [Type],
			MATERIALCODE [No],
			VARIANT [VariantCode],
			DESCRIPT [Description],
			DISTYPE [ValueType],
			DISVAL [Value],
			[StepAmount],
			IIF (LINKCAT= 'O' , 'O1', LGROUP ) AS [LineGroup],
			QTY [Quantity],
			UOM [UnitOfMeasure],
			[Counter],
			PKEY
	FROM
	(
		SELECT DISTINCT G.BBYNR,ROW_NUMBER() OVER(ORDER BY G.BBYNR) [LineNo] ,0 DTYPE, G.MATERIALCODE MATERIALCODE,'' VARIANT,'' DESCRIPT,
						IIF(G.DISTYPE = '%', 0, IIF(G.DISTYPE = 'P', 2, 1)) DISTYPE, IIF(G.DISTYPE = '%', G.BBYPER, G.BBYVAL) DISVAL,
						convert(float,RTRIM(LTRIM(ISNULL(H.MINVALUE,'0')))) StepAmount,
						CASE WHEN ISNULL(G.MATGROUP,'') = '' THEN 'O'+LTRIM(ROW_NUMBER() OVER(ORDER BY G.BBYNR))
						ELSE ISNULL(G.MATGROUP,'') END AS LGROUP,
						convert(float,G.QTY) QTY, G.MEINH UOM,
						1 + @CounterBenefits  AS [Counter],G.BBYNR AS PKEY, H.GETLINKCAT AS LINKCAT
		FROM SetupPromotionGET G (nolock)
		INNER JOIN SetupPromotionHeader H ON G.BBYNR = H.BBYNR 
		WHERE MATERIALCODE <> ''
		AND ISNULL(H.TOTALMINVALUE,0) = 1 --total bill
		AND H.BBYNR = @BBY
	) M

	------------------------------------------------------------------------------------------
	---OfferSite

	DELETE H
	FROM  OfferSite H 
	WHERE H.[OfferNo] =@BBY

	INSERT INTO [OfferSite] ([OfferNo],[PriceGroupCode],[StoreNo],[Counter],PKEY)

	SELECT M.BBYNR,M.SITEGROUPCODE,M.SITECODE,1 + @CounterSite  [Counter],BBYNR PKEY
	FROM
	(
		SELECT  DISTINCT S.[BBYNR], S.[SITEGROUPCODE], S.[SITECODE]
		FROM SetupPromotionSITE S (nolock)
		WHERE S.BBYNR = @BBY
	) M
	------------------------------------------------------------------------------------------
	
	COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		
		------------------------------------------------------------------------
		--End
	END CATCH

	SELECT * 
	FROM  Interface_Errors 
	WHERE ProcessID = @ProcessID
	------------------------------------------------------------------------------------------

END
